{% extends 'base.html'%}
{% load static %}
{%block title%}home{%endblock title%}
{% block css%}
    <link rel="stylesheet" href="{% static 'contacts/home.css' %}">
{%endblock css%}

{% block body %}
{% csrf_token %}

<div>
  <form action="{% url 'contacts:save_number' %}" method="post">
    {% csrf_token %}

  <h3 style="text-align: center">Phonebook</h3><br>
    {{ form.as_p }}
    <label for="name">Name</label>
    <input type="text" id="fname" name="name:" placeholder=" name.." required>

    <label for="name">family</label>
    <input type="text" id="lname" name="family:" placeholder=" last name.."required>

    <label for="phone">phone</label>
    <input type="text" id="phone" name="phone:" placeholder=" phone.." required>
    <button type="submit">save</button>
  </form>



<form>
      <h2>list contacts</h2>

    <table>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>phone</th>
        <th>*</th>
      </tr>
  {% for n in list %}
      <tr>
        <td>{{ n.name}}</td>
        <td>{{ n.family}}</td>
        <td>{{ n.phone}}</td>
        <td><button class="delete" type="submit">delete</button></td>
      </tr>
    {% endfor %}
    </table>

  </form>
</div>
{% endblock body %}



{#<!--#}
{#{% for n in list %}#}
{#    <form method="get">#}
{#    {% csrf_token %}#}
{# <table>#}
{#  <tr>#}
{#    <th> name</th><br>#}
{#    <th> family</th>#}
{#    <th> phone</th>#}
{#  </tr>#}
{#  <tr>#}
{#    <td>{{ n.first_name}}</td>#}
{#    <td>{{ n.last_name}}</td>#}
{#    <td>{{ n.phone}}</td>#}
{#  </tr>#}
{#</table>#}
{#    </form> -->#}
{#{% endfor %}#}
{##}
