{% extends 'base.html'%}
{% load static %}
{%block title%}home{%endblock title%}
{% block css%}
    <link rel="stylesheet" href="{% static 'contacts/home.css' %}">
{%endblock css%}
{% block body %}
{% csrf_token %}

<div>
 <form method="post" >
      <h3 style="text-align: center">Phonebook</h3><br>
      {% csrf_token %}
      {{ form.as_p }}
      <input type="submit" value="save">
 </form><br>


<form>
      <h2>list contacts</h2>
<form method="post">
      <input type="submit" value="search">
      {% csrf_token %}
      {{ search.as_p }}

</form>



    <table>
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>phone</th>
        <th>*</th>
      </tr>
  {% for n in list %}
      <tr>
        <td>{{ n.name}}</td>
        <td>{{ n.family}}</td>
        <td>{{ n.phone}}</td>
        <td>
        <button class="delete"><a class="a" href="{% url 'contacts:change_contact' n.id %}">CHANGE</a></button>
        <button class="delete"><a class="a" href="{% url 'contacts:delete_number' n.id %}">DELETE</a></button></td>
        </td>
      </tr>
    {% endfor %}
    </table>
  </form>
</div>

{% endblock body %}



{#<!--#}
{#{% for n in list %}#}
{#    <form method="get">#}
{#    {% csrf_token %}#}
{# <table>#}
{#  <tr>#}
{#    <th> name</th><br>#}
{#    <th> family</th>#}
{#    <th> phone</th>#}
{#  </tr>#}
{#  <tr>#}
{#    <td>{{ n.first_name}}</td>#}
{#    <td>{{ n.last_name}}</td>#}
{#    <td>{{ n.phone}}</td>#}
{#  </tr>#}
{#</table>#}
{#    </form> -->#}
{#{% endfor %}#}
{##}
